{% include "header.html" %}
<br>
<div class="container py-5" style="background: white;border-radius: 15px">
    <div class="wrap-input100 validate-input m-b-23" data-validate="Required">
        <div class="control-group">
            <h5 class="control-label requiredField">
                Select User
            </h5>
            <br>
            <div class="controls">
                <label>
                    <select id="user_list" class="dropdown-item select">
                        <option value="{{ u.username }}">-----------</option>
                        {% for u in users %}
                            <option value="{{ u.username }}">{{ u.username }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
    </div>
    <br>
    <button class="btn btn-primary text-center" onclick="userlink()">
        Select
    </button>
</div>

<script>
    function userlink() {
        const user_list = document.getElementById('user_list');
        const selected = user_list.options[user_list.selectedIndex].value;

        window.location.href = '' + selected;
    }
</script>

{% include "footer.html" %}