{% include "header.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <br><br><br>
    <div class="container py-5 wrap-post p-l-55 p-r-55 p-t-65 p-b-54">
    <br>
    <form method="POST">
        {% csrf_token %}
        <div class="wrap-input100 validate-input" data-validate="Header is required">
            {{ chat_form.message|as_crispy_field }}
        </div>
        <br>
        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn">
                    Send Message
                </button>
            </div>
        </div>
    </form>
    </div>
{% endblock content %}