{% include 'header.html' %}
{% block content %}
    <!--Password Reset Confirm-->
    <div class="container p-5" style="background: #58c44d; border-radius: 10px;">
        <h2 class="font-weight-bold mt-3" style="color: #000000">
            Password Reset Confirm
        </h2>
        <hr>
        <p style="color: #000000">
            Please enter your new password.
        </p>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <br><br>
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>

{% endblock %}